@import(xfdashboard.css)
/* Small icons for minimized windows */

XfdashboardWindowContent
{
	include-window-frame: true;
	unmapped-window-icon-x-fill: false;
	unmapped-window-icon-y-fill: false;
	unmapped-window-icon-x-align: 0.5;
	unmapped-window-icon-y-align: 0.5;
	unmapped-window-icon-x-scale: 2.0;
	unmapped-window-icon-y-scale: 2.0;
	unmapped-window-icon-anchor-point: center;
}

XfdashboardStageInterface
{
	background-color: rgba(0,0,0,0.85);
	background-fill-color: rgba(0,0,0,.85);
	background-image-type: desktop;
}

/* icons */

XfdashboardQuicklaunch #applications-button
{
	icon-name: "view-list-symbolic";
}

XfdashboardQuicklaunch #applications-button:toggled
{
	icon-name: "view-paged-symbolic";
}

XfdashboardWindowsView
{
	view-icon: "view-paged-symbolic";
}

XfdashboardApplicationsView
{
	view-icon: "view-list-symbolic";
}

XfdashboardSearchView
{
	view-icon: "folder-saved-search-symbolic";
}

/* colors */

#notification, #tooltip
{
	background-fill-color: rgba(15,15,19, 0.5);
	outline-color: rgba(255, 255, 255, 0.1);
}

#quicklaunch, #quicklaunch:drop-target
{
	background-fill-color: #72727366;
	outline-color: rgba(255, 255, 255, 0.1);
}

#quicklaunch XfdashboardButton:hover
{
	background-fill-color: #72727350;
}

XfdashboardQuicklaunch #applications-button
{
	background-fill-color: #0f0f10;
}

XfdashboardQuicklaunch #trash-button:drop-target
{
	background-fill-color: #ff0000;
}

.drag-actor-XfdashboardLiveWindow:drag-handle
{
	background-fill-color: #0f0f10;
	outline-color: #0f0f10;
}

#workspace-selector
{
	background-fill-color: #727273ff;
	outline-color: rgba(255,255,255,0.1);
}

XfdashboardLiveWorkspace
{
	outline-color: rgba(0, 0, 0, 0.6);
}

XfdashboardLiveWorkspace:active
{
	outline-color: #0f0f10;
}

XfdashboardScrollbar
{
	slider-color: #7a7e7f;
}

XfdashboardScrollbar:hover
{
	slider-color: #54595a;
}

XfdashboardScrollbar:pressed
{
	slider-color: #ffffff80;
}

XfdashboardSearchView XfdashboardSearchResultContainer XfdashboardButton.result-item:hover,
XfdashboardApplicationsView XfdashboardButton:hover
{
	background-fill-color: #72727350;
}

XfdashboardSearchView XfdashboardSearchResultContainer XfdashboardButton:selected,
XfdashboardApplicationsView XfdashboardButton:selected
{
	background-fill-color: #72727380;
	outline-color: rgba(255,255,255,0.1);
}

#view-selector XfdashboardToggleButton:toggled
{
	background-fill-color: #0f0f10;
}



#searchbox.focus
{
	outline-color: #727273ff;
	background-fill-color: #727273ff;
}

XfdashboardLiveWindow
{
	background-type: outline;
	outline-width: 4.0;
	outline-color: #2c2c2e;
}

XfdashboardWindowsView XfdashboardLiveWindow:selected,
XfdashboardWindowsView XfdashboardLiveWindow:hover
{
	outline-color: #0f0f10;
}

XfdashboardLiveWindow:selected XfdashboardButton.title
{
	background-fill-color: #15151680;
	outline-color: rgba(255,255,255,0.06);
}

XfdashboardLiveWindow:hover XfdashboardButton.title
{
	background-fill-color: #151516ff;
	outline-color: rgba(255,255,255,0.1);
}

/* effects */

#quicklaunch XfdashboardButton
{
	effects: ;
}
