@define-color light-aubergine #242424/*#DED7DB*/;
@define-color super-light-aubergine #2c2c2c/*#F4F1F3*/;


#featured-star {
    border-color: #7D0126;  /* yellow */
    color: #F0532A;         /* orange */
}

.grid-lines {
    border-color: shade (@light-aubergine, 1.025);
}

#screenshot-preview {
    border-color: #1f1f1f;
    color: @fg_color;
    border-width: 2px;
    border-radius: 3px;
}

.backforward-left-button {
    border-radius: 3px 0 0 3px; 
}

.backforward-right-button {
    border-radius: 0 3px 3px 0;
}

.subtle,
#subtle-label {
    -GtkWidget-link-color: #4a90d9;
    -GtkWidget-visited-link-color: shade (#4a90d9, 0.8);
    color: shade(@theme_text_color, 0.8); /* non-link text color */
    text-shadow: 0 -1px 2px rgba(0,0,0,0.45);
}

.cellrenderer-button {
    border-radius: 3px;
}

.cellrenderer-avgrating-label {
    color: #7b7b7b; /* dark gray */
}

.cellrenderer-avgrating-label:selected {
    color: #f2f2f2;
}

.more-link {
    -GtkButton-inner-border: 0;
    -GtkButton-default-border: 0;
    -GtkButton-default-outside-border: 0;
    color: #acacac;
    background-color: shade (@theme_selected_bg_color, 0.825);
    border-color: shade (@theme_selected_bg_color, 0.775);
    text-shadow: 0 1px 2px rgba(0,0,0,0.45);
}

.frame-header-title {
	color: mix(#e8e8e8, @theme_selected_bg_color, 0.2);
    text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.item-view-separator {
    border-color: shade (@light-aubergine, 0.9);
    border-width: 1px;
}

.light-aubergine-bg {
    background-color: @light-aubergine;
}

.super-light-aubergine-bg {
    background-color: @super-light-aubergine;
    border-color: shade (@super-light-aubergine, 0.975)
}

GtkViewport {
	color: #cdcdcd;
	text-shadow: 1px 1px 2px alpha(black, 0.3);
	background-color: transparent;
    border-width: 0;
    padding: 0;
}
GtkLabel:selected,
GtkLabel *:selected
.view GtkLabel:selected {
background-color: transparent;
}
	
GtkTreeView {
    border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-top-color: alpha (mix(@theme_selected_bg_color, black, 0.7), 0.07);
	background-color: @theme_base_color;
	background-image: none;
	
	color: @theme_text_color;
} 
	
GtkTreeView:selected {
	background-color: lighter(@theme_base_color);
	background-image: none;

    box-shadow: inset 0 -1px alpha(black, 0.16),
				inset 0 1px alpha(white, 0.034),
                inset -1px 0 alpha(black, 0.07),
                inset 1px 0 alpha(white, 0.03);

    color: @theme_selected_fg_color;
}

GtkTreeView:selected:focus {
	background-color: darker(@theme_base_color);
	background-image: none;

    box-shadow: inset 0 -1px alpha(black, 0.16),
				inset 0 1px alpha(white, 0.034),
                inset -1px 0 alpha(black, 0.08),
                inset 1px 0 alpha(white, 0.04);

    color: @theme_selected_fg_color;
}

GtkTreeView:selected {
	text-shadow: 0 1px 2px alpha(black, 0.38);
}	

#toolbar-popup {
    padding: 0;
}

/**** Progressbar for Treeviews *****/
/*******this gets messy**************/


/* progress component */

GtkTreeView .progressbar,
.progressbar row,
.progressbar row:selected,
.progressbar row:selected:focus {
	border-radius: 2px;
    border-width: 0px;
    border-style: solid;
    border-color: alpha(@theme_selected_bg_color, 0.6);
    color: @theme_selected_fg_color;
	background-image: linear-gradient(to left,
                                      alpha(shade(@theme_selected_bg_color, 1.6), 0.4),
                                       alpha(shade(@theme_selected_bg_color, 1.6), 0.4) 3px,
                                      @theme_selected_bg_color 3px
                                      );
    box-shadow: none;                                                                   						
}

.progressbar row:selected,
.progressbar row:selected:focus,
GtkTreeView .progressbar row:selected,
GtkTreeView .progressbar row:selected:focus {
	border-radius: 2px;
    border-width: 0px;
    border-style: solid;
    border-color: #1c1c1e;
    color: @theme_selected_fg_color;
	background-image: linear-gradient(to left,
                                      alpha(shade(@theme_selected_bg_color, 1.6), 0.4),
                                       alpha(shade(@theme_selected_bg_color, 1.6), 0.4) 3px,
                                      @theme_selected_bg_color 3px
                                      );
    box-shadow: none;  	
}

.progressbar row:insensitive,
.progressbar row:insensitive:focus,
GtkTreeView .progressbar row:insensitive,
GtkTreeView .progressbar row:insensitive:focus,
.progressbar row:insensitive:selected:selected,
.progressbar row:insensitive:selected:selected:focus,
GtkTreeView .progressbar row:insensitive:selected:selected,
GtkTreeView .progressbar row:insensitive:selected:selected:focus {

    background-image: linear-gradient(to left,
                                      alpha(shade(@theme_unfocused_selected_bg_color, 1.6), 0.4),
                                       alpha(shade(@theme_unfocused_selected_bg_color, 1.6), 0.4) 3px,
                                      @theme_unfocused_selected_bg_color 3px
                                      );
    
    box-shadow: none;                            					
}

/* TROUGH */

.trough row,
GtkTreeView.trough row,
GtkTreeView .trough row,
.cell.trough row {
    border-radius: 0;
    padding: 0;
    background-color: #3c3c3e;
	background-image: none;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #3c3c3e;
	box-shadow: none;                                                              
}

GtkTreeView .trough row:focus,
GtkTreeView.trough row:focus,
GtkTreeView .trough row:selected:selected:selected,/*We must use 'selected' 3x's to overide 'treeview odd/even row' double 'selected' */
GtkTreeView.trough row:selected:selected:selected,
GtkTreeView .trough row:selected:focus,
GtkTreeView.trough row:selected:focus,
.trough row:focus,
.trough row:selected:selected,
.trough row:selected:focus {
	border-radius: 0;
    background-image: none;
    background-color: #424244;
    border-image: none;
    border-style: solid;
	border-width: 1px;
    border-color: #444446;
    box-shadow: none;                               
}

GtkTreeView .trough row:insensitive,
.trough row:insensitive,
GtkTreeView .trough row:backdrop,
.trough row:backdrop,
GtkTreeView .trough row:insensitive:backdrop,
.trough row:insensitive:backdrop,
GtkTreeView .trough row:insensitive:selected:selected:selected,
.trough row:insensitive:selected:selected:selected:selected {
	background-image: none;
    background-color: @insensitive_bg_color;
    border-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: @insensitive_bg_color;
	box-shadow: none;                                
}


